---
layout: default
title: "Learn@GitLab"
description: "Welcome to Learn@GitLab! It's here to provide you a deeper look into GitLab, how it works, and how it might be able to help you."
canonical_path: "/learn/"
suppress_header: true
extra_css:
  - bl-modal.css
  - video-carousel.css
  - learn-video-carousel.css
extra_js:
  - libs/slick.min.js
  - video-carousel.js
  - learn-video-carousel.js
---

%link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"}
%link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"}

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 Learn@GitLab
    %p Welcome to Learn@GitLab! It's here to provide you a deeper look into GitLab, how it works, and how it might be able to help you. It's organized by the biggest challenges we see folks come to GitLab looking to solve.

-# The path content for this page is in https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/data/learn/paths/
-# Yes this needs to be re-written to be dynamic rather than all these hard-codes, and also to show carousels of paths rather than videos. TBD.

.gitlab-content-container.reverse-content
  -# Carousel for DevOps Platform
  .content{"style" => "margin-top: 50px"}
    %h2.u-margin-bottom-sm.text-center
      DevOps Platform
    .learn-video-slider
      - data.learn.paths.devops_platform.each do |video|
        -if video.path_id.include?("DevOpsPlatform-Path-001")
          = partial "includes/components/video-carousel/learn-video-item", locals: {title: video.title, photourl: video.thumbnail, videolink: video.video_link, video_title_size: "h5", asset_type: video.asset_type}
  -# Carousel for VCC
  .content
    %h2.u-margin-bottom-sm.text-center
      Version Control & Collaboration (VCC)
    .learn-video-slider
      - data.learn.paths.vcc.each do |video|
        -if video.path_id.include?("VCC-Path-001")
          = partial "includes/components/video-carousel/learn-video-item", locals: {title: video.title, photourl: video.thumbnail, videolink: video.video_link, video_title_size: "h5", asset_type: video.asset_type}
  -# Carousel for CI
  -# (I know this style code is ugly and should be in some css file. MVC. Clean up TBD.)
  .content{"style" => "margin-top: 50px"}
    %h2.u-margin-bottom-sm.text-center
      Continuous Integration (CI)
    .learn-video-slider
      - data.learn.paths.ci.each do |video|
        -if video.path_id.include?("CI-Path-001")
          = partial "includes/components/video-carousel/learn-video-item", locals: {title: video.title, photourl: video.thumbnail, videolink: video.video_link, video_title_size: "h5", asset_type: video.asset_type}
  -# Carousel for CD
  .content{"style" => "margin-top: 50px"}
    %h2.u-margin-bottom-sm.text-center
      Continuous Delivery (CD)
    .learn-video-slider
      - data.learn.paths.cd.each do |video|
        -if video.path_id.include?("CD-Path-001")
          = partial "includes/components/video-carousel/learn-video-item", locals: {title: video.title, photourl: video.thumbnail, videolink: video.video_link, video_title_size: "h5", asset_type: video.asset_type}
  -# Carousel for DevSecOps
  .content{"style" => "margin-top: 50px"}
    %h2.u-margin-bottom-sm.text-center
      DevSecOps
    .learn-video-slider
      - data.learn.paths.devsecops.each do |video|
        -if video.path_id.include?("DevSecOps-Path-001")
          = partial "includes/components/video-carousel/learn-video-item", locals: {title: video.title, photourl: video.thumbnail, videolink: video.video_link, video_title_size: "h5", asset_type: video.asset_type}
  -# Carousel for Agile
  .content{"style" => "margin-top: 50px"}
    %h2.u-margin-bottom-sm.text-center
      Agile Management
    .learn-video-slider
      - data.learn.paths.agile.each do |video|
        -if video.path_id.include?("Agile-Path-001")
          = partial "includes/components/video-carousel/learn-video-item", locals: {title: video.title, photourl: video.thumbnail, videolink: video.video_link, video_title_size: "h5", asset_type: video.asset_type}
  -# Carousel for Jira
  .content{"style" => "margin-top: 50px"}
    %h2.u-margin-bottom-sm.text-center
      Jira Integration
    .learn-video-slider
      - data.learn.paths.agile.each do |video|
        -if video.path_id.include?("Jira-Path-001")
          = partial "includes/components/video-carousel/learn-video-item", locals: {title: video.title, photourl: video.thumbnail, videolink: video.video_link, video_title_size: "h5", asset_type: video.asset_type}
  -# Carousel for VSM
  .content{"style" => "margin-top: 50px"}
    %h2.u-margin-bottom-sm.text-center
      Value Stream Management (VSM)
    .learn-video-slider
      - data.learn.paths.agile.each do |video|
        -if video.path_id.include?("VSM-Path-001")
          = partial "includes/components/video-carousel/learn-video-item", locals: {title: video.title, photourl: video.thumbnail, videolink: video.video_link, video_title_size: "h5", asset_type: video.asset_type}
  -# Carousel for Cloud Native
  .content{"style" => "margin-top: 50px"}
    %h2.u-margin-bottom-sm.text-center
      Cloud Native
    .learn-video-slider
      - data.learn.paths.cloudnative.each do |video|
        -if video.path_id.include?("CloudNative-Path-001")
          = partial "includes/components/video-carousel/learn-video-item", locals: {title: video.title, photourl: video.thumbnail, videolink: video.video_link, video_title_size: "h5", asset_type: video.asset_type}
  -# Carousel for GitOps
  .content{"style" => "margin-top: 50px"}
    %h2.u-margin-bottom-sm.text-center
      GitOps
    .learn-video-slider
      - data.learn.paths.gitops.each do |video|
        -if video.path_id.include?("GitOps-Path-001")
          = partial "includes/components/video-carousel/learn-video-item", locals: {title: video.title, photourl: video.thumbnail, videolink: video.video_link, video_title_size: "h5", asset_type: video.asset_type}
  -# Carousel for Misc
  .content{"style" => "margin-top: 50px"}
    %h2.u-margin-bottom-sm.text-center
      Miscellaneous
    .learn-video-slider
      - data.learn.paths.misc.each do |video|
        -if video.path_id.include?("Misc-Path-001")
          = partial "includes/components/video-carousel/learn-video-item", locals: {title: video.title, photourl: video.thumbnail, videolink: video.video_link, video_title_size: "h5", asset_type: video.asset_type}


-# These are the asset modals for viewing the content. Need one of these set up for each carousel that is set up.

-# Carousel modals for DevOps Platform
- data.learn.paths.devops_platform.each do |video|
  -if video.path_id.include?("DevOpsPlatform-Path-001")
    = partial "includes/components/video-carousel/learn-video-carousel-modal", locals: {videolink: video.video_link, title: video.title}

-# Carousel modals for VCC
- data.learn.paths.vcc.each do |video|
  -if video.path_id.include?("VCC-Path-001")
    = partial "includes/components/video-carousel/learn-video-carousel-modal", locals: {videolink: video.video_link, title: video.title}

-# Carousel modals for CI
- data.learn.paths.ci.each do |video|
  -if video.path_id.include?("CI-Path-001")
    = partial "includes/components/video-carousel/learn-video-carousel-modal", locals: {videolink: video.video_link, title: video.title}

-# Carousel modals for CD
- data.learn.paths.cd.each do |video|
  -if video.path_id.include?("CD-Path-001")
    = partial "includes/components/video-carousel/learn-video-carousel-modal", locals: {videolink: video.video_link, title: video.title}

-# Carousel modals for DevSecOps
- data.learn.paths.devsecops.each do |video|
  -if video.path_id.include?("DevSecOps-Path-001")
    = partial "includes/components/video-carousel/learn-video-carousel-modal", locals: {videolink: video.video_link, title: video.title}

-# Carousel modals for Agile
- data.learn.paths.agile.each do |video|
  -if video.path_id.include?("Agile-Path-001")
    = partial "includes/components/video-carousel/learn-video-carousel-modal", locals: {videolink: video.video_link, title: video.title}

-# Carousel modals for Jira
- data.learn.paths.agile.each do |video|
  -if video.path_id.include?("Jira-Path-001")
    = partial "includes/components/video-carousel/learn-video-carousel-modal", locals: {videolink: video.video_link, title: video.title}

-# Carousel modals for VSM
- data.learn.paths.agile.each do |video|
  -if video.path_id.include?("VSM-Path-001")
    = partial "includes/components/video-carousel/learn-video-carousel-modal", locals: {videolink: video.video_link, title: video.title}

-# Carousel modals for Cloud Native
- data.learn.paths.cloudnative.each do |video|
  -if video.path_id.include?("CloudNative-Path-001")
    = partial "includes/components/video-carousel/learn-video-carousel-modal", locals: {videolink: video.video_link, title: video.title}

-# Carousel modals for GitOps
- data.learn.paths.gitops.each do |video|
  -if video.path_id.include?("GitOps-Path-001")
    = partial "includes/components/video-carousel/learn-video-carousel-modal", locals: {videolink: video.video_link, title: video.title}

-# Carousel modals for Misc
- data.learn.paths.misc.each do |video|
  -if video.path_id.include?("Misc-Path-001")
    = partial "includes/components/video-carousel/learn-video-carousel-modal", locals: {videolink: video.video_link, title: video.title}
